doctype html
//
  THIS CODE FOR IAMDEADHACKER IS WRITTEN BY:
  1: MANISH PANDEY [19/IT16]
  2: SAHIL CHOUDHARY [19/IT27]
  
  IT IS ILLEGAL TO COPY THE CODE IN ANY FORM
  ALL RIGHTS ARE RESERVED IamDeadHacker AKA Manish Pandey
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../static/searchbox.css')
    link(rel='stylesheet' href='../static/access.css')
    link(rel='stylesheet' href='../static/footer.css')
    link(rel='stylesheet' href='../static/cards.css')
    title  IamDeadHacker | HOME 
  body(background='../static/background.jpg' style='background-size: cover; background-repeat: no-repeat;')
    div(style='width: auto; overflow: hidden;')
      br
      h2(align='center')
        a(href='../static/index.html' style=' text-decoration: none; ')
          // LOGO
          font(face='Lato' size='8' color='white')  ÌåmÐêåÐHå¢kêr 
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        | &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        // MENU LINKS
        font(face='cinzel')
          a(href='../static/index.html' style='text-decoration: none; color: white; position: relative;')  HOME 
          | &nbsp; &nbsp; &nbsp;
          a(href='https://iamdeadhacker.blogspot.com' style='text-decoration: none; color: white; position: relative; ' target='_blank')  BLOG 
          | &nbsp; &nbsp; &nbsp;
          a(href='../static/login_page.html' target='_blank' style='text-decoration: none ; color: white; position: relative;')  COURSES 
          | &nbsp; &nbsp; &nbsp;
          a(href='../static/about.html' style='text-decoration: none; color: white; position: relative;')  ABOUT US 
          | &nbsp; &nbsp; &nbsp;
          a(href='../static/contact.html' style='text-decoration: none; color: white; position: relative;')  CONTACT US 
          | &nbsp; &nbsp; &nbsp;
      // SEARCH BOX
      br
      br
      br
      .wrap
        .search
          input.searchTerm(type='text' placeholder='What are you looking for?')
          a(href='https://www.google.com/search' target='_blank')
            button.searchButton
              | Search
      // Quote
      br
      br
      h1(align='center')
        font(face='Lato' color='#035AFD' size='7')
          | Love is Hack & Hacking is a Love
      h3(align='center')
        font(face='Lato' color='#035AFD' size='5')
          | ╬╬╬╬╬╬╬ &nbsp; PROJECT BY
          strong  MANISH PANDEY 
          | (19/IT16) &
          strong
            | SAHIL CHOUDHARY
          | (19/IT27) &nbsp; ╬╬╬╬╬╬╬
          // alt+5326
      // Block line
      center
        br
        hr(size='5' color='#035AFD' width='25%')
      // site access
      br
      .middle
        a(href='https://images.unsplash.com/photo-1590615370581-265ae19a053b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80' target='_blank')
          button.btn.btn1  Welcome ! 
        a(href='https://images.unsplash.com/photo-1607434472257-d9f8e57a643d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80' target='_blank')
          button.btn.btn2  To Hacker Zone!
      br
      br
      // Website Content
      // Card Layer 1
      br
      br
      center
        .grid
          // card 1
          .grid-item
            .card
              .card-content
                h1.card-header How To Become Ethical Hacker!
                p
                  .card-text
                    | The article is mainly addressing the audience who wants to pursue their career in
                    | Cybersecurity as a professional that provides Ethical Hacking Services,
                a(href='https://iamdeadhacker.blogspot.com/2021/05/how-to-become-ethical-hacker-and-pursue.html' target='_blank' style='text-decoration: none;')
                  button.card-btn
                    font(color='white') Read More 
          // Card 2
          .grid-item
            .card
              .card-content
                h1.card-header  Best OS for Hackers! 
                p
                  .card-text
                    | Ethical hacking is identifying weaknesses in computer systems or networks to exploit its
                    | vulnerabilities so they can be fixed later. Hackers use various
                a(href='https://iamdeadhacker.blogspot.com/2021/06/13-best-operating-system-os-for-hacking.html' target='_blank' style='text-decoration: none;')
                  button.card-btn
                    font(color='white') Read More 
          // Card 3
          .grid-item
            .card
              .card-content
                h1.card-header  Gadgets Hacker Must Have! 
                p
                  .card-text
                    | Sometimes, during security audits, we may encounter a situation where everything is
                    | being managed correctly. In other words security patches, policies, network
                a(href='https://iamdeadhacker.blogspot.com/2021/06/gadgets-we-hackers-have.html' target='_blank' style='text-decoration: none;')
                  button.card-btn
                    font(color='white')  Read More 
          // Card 4
          .grid-item
            .card
              .card-content
                h1.card-header  Tor Browser & its Usage 
                p
                  .card-text
                    | The Tor Project is a non-profit organization that conducts research and development on
                    | online privacy and anonymity. It is designed to stop people - including government
                    | agencies and companies - from studying your location or tracking your browsing habits.
                a(href='https://iamdeadhacker.blogspot.com/2021/06/what-is-tor-browser-why-it-is-used.html' target='_blank' style='text-decoration: none;')
                  button.card-btn
                    font(color='white')  Read More 
          // Card 5
          .grid-item
            .card
              .card-content
                h1.card-header  Remote Desktop Protocol 
                p
                  .card-text
                    | RDP stands for Remote desktop protocol. Remote Desktop Protocol owns by Microsoft, you
                    | may also notice a software called Remote Desktop Connection on your Windows computer.
                    | RDP allows user to remotely control or connect to an RDP Server
                a(href='https://iamdeadhacker.blogspot.com/2021/05/what-is-rdp-rdp-server-remote-desktop.html' target='_blank' style='text-decoration: none;')
                  button.card-btn
                    font(color='white')  Read More 
          // Card 6
          .grid-item
            .card
              .card-content
                h1.card-header  Hacking linux OS 
                p
                  .card-text
                    | Linux is the most widely used server operating system, especially for web servers. It is
                    | open source; this means anybody can have access to the source code.This makes it less
                    | secure compared to other operating systems as attackers can study the source code to
                    | find vulnerabilities
                a(href='https://iamdeadhacker.blogspot.com/2021/05/hacking-linux-os-hacking-with-ubuntu.html' target='_blank' style='text-decoration: none;')
                  button.card-btn
                    font(color='white')  Read More 
      br
      br
      br
      br
      br
      br
      // Footer
      footer.footer
        .container
          .row(style='display: flex; flex-wrap: wrap;')
            .footer-col
              h4
                a(href='../static/index.html' style='text-decoration: none; color: aliceblue;')  ÌåmÐêåÐHå¢kêr 
              ul
                li
                  a(href='../static/about.html')  About US 
                li
                  a(href='../static/Privacy.html')  Privacy Policy 
                li
                  a(href='../static/suggestions.html')  Suggestions 
                li
                  a(href='../static/contact.html')  Contact Us 
            br
            .footer-col
              h4  Resources 
              ul
                li
                  a(href='#')  Tech Hacks 
                li
                  a(href='#')  Virus Creation 
                li
                  a(href='../static/EmailBomb.html' target='_blank')  Email Bomber 
                li
                  a(href='../static/login_page.html')  Courses 
            br
            .footer-col
              h4  Tricks 
              ul
                li
                  a(href='#')  Windows Tricks 
                li
                  a(href='#')  Android Tricks 
                li
                  a(href='#')  Kali Linux 
                li
                  a(href='#')  Networking 
            br
            .footer-col
              h4 follow us
              ul
                li
                  a(href='https://t.me/IamDeadHacker_Community' target='_blank')  Telegram 
                li
                  a(href='https://iamdeadhacker.blogspot.com' target='_blank')  Blog 
                li
                  a(href='https://www.youtube.com/channel/UCGwty3_qHGYc8pg_5Hxq7lw' target='_blank')
                    | YouTube
                li
                  a(href='https://github.com/IamManishPandey' target='_blank')  GitHub 
            br
