<!doctype html>

<html>
 <head>
    <meta charset = "utf-8">	
	 <title> IamDeadHacker | Login </title>
	 <link rel = "stylesheet" href = "login.css">
 </head>
	
	<body background = "background.jpg" style = "background-size: cover; background-repeat: no-repeat;">
		
		<section>
		     <div class = "imgBx">	
				 <img src = "Hacker4.jpg" alt = "loging_hacker" >
			 </div>
			 <div class = "contentBx">
				 <div class = "formBx">
				  <h2> Login </h2>
					 <form>
					   <div class = "inputBx">
					     <span> Username </span>
						   <input type = "text" name = "">						   
					   </div>
						 
						 <div class = "inputBx">
					     <span> Passphrase </span>
						   <input type = "password" name = "">						   
					   </div>
						 
						 <div class = "remember">
						   <label><input type = "checkbox" name = ""> Remember Me </label>
						 </div>
						 
						 <div class ="inputBx">
						  <input type = "submit" value = "Login" name = "">
						 </div>
						 
						 <div class ="inputBx">
						   <p> Don't have account with us? <a href = "registration.html"> Sign Up</a></p>
						 </div>
						 
					 </form>
				 </div>
			 </div>
		</section>
	    
	</body>
</html>